body{
	background-color: lightgray;
  font-family: "Sofia", sans-serif;
}

div{
	overflow-x: auto;

	background-color: white;
	border-style: solid;
	
	border-width: 1px;
	border-radius: 15px;
	padding-left: 20px;
	padding-top: 20px;

	margin: 10px;
	margin-left: 100px;
	margin-right: 100px;
}
h2{
	padding: 10px;
	align-self: center;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	
	margin-left: 100px;
	margin-right: 100px;
}
hr{
	display: block;
	color: silver;


}
table{
	border: 1px solid;
	margin: 10px;
}
th, td{
	padding: 15px;
}
th{
	border-bottom: 1px solid;
}